
<IfModule mod_rewrite.c>
  RewriteEngine On
	
  #RewriteRule ^([a-z0-9_]+)/([a-z0-9_]+)/?$ c.php?plugin=$1&control=$2
  #RewriteRule ^([a-z0-9_]+)/([a-z0-9_]+)/([a-z0-9_A-Z]+)/?$ c.php?plugin=$1&control=$2&method=$3
  RewriteRule ^([a-z0-9_]+)/([a-z0-9_]+)(?:/([a-z0-9_A-Z]+)(?:/([^\.]*))?)?/?$ c.php?plugin=$1&control=$2&method=$3&getter=$4
  
</IfModule>