html { width: 100%; height: 100%;font-size:100px}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button, textarea, p, blockquote { margin: 0; padding: 0; }
body { font-family: Microsoft Yahei, '微软雅黑'; font-size: 16px; color:#fff;width: 100%; padding: 0; margin: 0; background-color: #F4F4F4; }
table { border-collapse: collapse; border-spacing: 0; font-size: inherit; font: 100%; }
input, img { vertical-align: middle; border:none; }
a { text-decoration: none; }
a:link, a:visited, a:active, a:hover { text-decoration: none; color: #fff; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:before, q:after { content: ''; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
img, object { max-width: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
input[type="text"], input[type="password"], input[type="number"], input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none; /* mobile firefox too! */}
ul, ol, dl,li{	list-style:none;}
a {	text-decoration:none;}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input::-ms-clear { display: none; }
input::-ms-reveal { display: none; }
input,select,textarea{outline: none;}
textarea{resize: none;}

/*公共部分*/
.clearfixd:after { content: '\20'; display: block; height: 0; clear: both; }
.clearfixd { *zoom:1; overflow:hidden;}
.hidden{display:none !important;}
.nomarginleft{margin-left:0}
.clear{clear:both !important;}
.dialog{width:100%; height:100%; position:fixed; top:0; background:rgba(0,0,0,0.5); z-index:11;}
.alert_dialog{position:fixed; width:6.4rem; height:100%; background:transparent; background-color:rgba(0,0,0,0.3); text-align:center; top:0; z-index:11;}
.show_alert{display:inline-block; padding:0.15rem 0.3rem; max-width:5rem; font-size:0.22rem; line-height:0.4rem; color:#fff; background:rgba(70, 70, 70, 1); box-shadow: 0 0 0.05rem 0.05rem rgba(70, 70, 70, 0.7); border-radius:0.06rem; text-align:left; margin-top:4.5rem; z-index:3;transition:width 0.5s;}
.load_more{background-color: transparent; color:#787878; font-size: 0.22rem; height: 0.15rem; text-align: center;}
.display_block{display: block;}
.btn{display: block; text-align: center; cursor: pointer;}

/*头部*/
header{width: 6.4rem; height: 0.8rem; position: fixed; top:0; left: 0; background: rgb(226, 59, 65); display: block; text-align: center; line-height: 0.8rem; z-index: 9;}
.head-left{width: 1rem; height: 0.8rem; float: left;}
.head-center{width: 4.4rem; height: 0.8rem; float: left; color:#FFF; font-size: 0.32rem;}
.head-right{width: 1rem; height: 0.8rem; float: left; font-size: 0.22rem; text-align: center;}
.head{width: 6.4rem; height: 0.79rem;}

/*注册*/
.login-body{width: 6.4rem; background: url(../images/background.png) no-repeat; background-size: 6.44rem 100%;}
#reg_mobile{width: 2.6rem; height: 0.6rem; border-radius: 0.06rem; position: fixed; bottom:3.2rem; left: 1.2rem; font-size: 0.24rem; padding-left:0.1rem; padding-right:1.3rem;}
.get-mobile-code-btn{width: 1.2rem; height: 0.6rem; line-height: 0.6rem; background: rgb(226, 59, 65); position: fixed; bottom:3.2rem; right: 1.2rem; border-radius: 0.06rem; font-size: 0.18rem;}
#reg_verify{width: 3.8rem; height: 0.6rem; border-radius: 0.06rem; position: fixed; bottom: 2.2rem; left: 1.2rem; padding: 0 0.1rem;}
.reg-next-btn{width: 4rem; height: 0.6rem; font-size: 0.24rem; line-height: 0.6rem; background-color: #E23B41; border-radius: 0.06rem; position: fixed; bottom: 1.2rem; left: 1.2rem;}
.common-input{width: 6rem; padding: 0.1rem 0.2rem; height: 0.6rem; line-height: 0.6rem; background: #FFF; font-size: 0.24rem; margin-top: 0.15rem;}
.common-input>div{float: left; width: 1.2rem; color:#666;}
.common-input>input{width: 4.8rem; float: left; height: 0.6rem; color:#666;}
.prompt-register{padding-left: 0.2rem; line-height: 0.5rem; font-size: 0.19rem; color:#898989;}

/*产品列表*/
.list-top{width: 6.4rem; height: 0.5rem; padding: 0.1rem 0; position: fixed; left:0; top:0.8rem; background: #FFF; z-index: 9}
.list-top span{width: 1.6rem; float: left; color:#666; display: block; font-size: 0.22rem; line-height: 0.5rem; height: 0.5rem; position: relative;}
.list-top span i{display: block; width: 0; height: 0.4rem; border-right: 0.02rem solid #DEDEDE; position: absolute; right: 0; top:0.05rem;}
.list-top span b{display: block; width: 1.2rem; height: 0; position: absolute; left:0.2rem; bottom:0;}
.list-top span.checked b{ border-top:0.04rem solid rgba(226, 59, 65, 0.6);}
.list-top span.checked{color:#E23B41}
.product-list{width: 6rem; padding: 0 0.2rem; min-height: 1rem;}
.product-list .one-product{width: 2.95rem; min-height: 2rem; background: #FFF; float: left; margin-top: 0.1rem; position: relative;}
.product-list .one-product:nth-child(2n){margin-left: 0.1rem;}
.product-list .one-product img{width: 100%; display: block; float: left;}
.product-list .one-product h1{width: 2.75rem; padding: 0 0.1rem; float: left; font-size: 0.18rem; color:#666; line-height: 0.4rem; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.product-list .one-product h2{width: 2.75rem; padding: 0 0.1rem; float: left; font-size: 0.21rem; color:#E23B41; line-height: 0.3rem;}
.product-list .one-product h2 em{display: inline-block; color:#ABABAB; font-size: 0.18rem; margin-left: 0.1rem; text-decoration:line-through;}
.product-list .one-product h3{width: 2.75rem; padding: 0 0.1rem; float: left; font-size: 0.18rem; color:#898989; line-height: 0.3rem;}
.product-list .one-product h4{width: 100%; float: left; height: 0.12rem; margin-top: 0.05rem; background: #DEDEDE;}
.product-list .one-product h4 em{display: block; background: #E23B41; border-bottom-right-radius: 0.2rem; border-top-right-radius: 0.2rem; height: 0.12rem;}
.product-list .one-product h5{width: 2.75rem; margin-top: 0.05rem; padding: 0 0.1rem; float: left; font-size: 0.18rem; color:#E23B41; line-height: 0.3rem;}
.product-list .one-product h5 em{float: right; color:#BCBCBC;}
.index-cart-btn{width: 0.5rem; height: 0.5rem; border-radius: 100%; position: absolute; right: 0.1rem; bottom:0.6rem; background: url(../images/cart.png) no-repeat; background-size: 0.5rem;}

/*产品详情*/
.icon-head-back{display: block; width: 0.4rem; height: 0.4rem; float: left; margin-left: 0.2rem; margin-top: 0.2rem; background: url(../images/icon-back.png) no-repeat; background-size: 0.14rem; background-position: 50%;}
.slider .focus{height: 0.4rem !important; background: transparent !important;}
.slider .focus div{width: auto !important;}
.slider .focus div span{width: 0.1rem; height: 0.1rem; background: #CDCDCD; margin-left: 0.1rem; border-radius: 0.1rem; position: relative; top:0.06rem;}
.slider .focus div span.current{height: 0.16rem; background: #E23B41; top:0;}
.product-information{width: 6.1rem; padding: 0.1rem 0.15rem; background: #FFF; margin-top: 0.1rem; position: relative;}
.product-information .information_left{width: 4.6rem; float: left; color: #CCC; min-height: 1rem;}
.information_left h1{color:#010101; line-height: 0.4rem; font-size: 0.22rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.information_left h2{font-size: 0.2rem; line-height: 0.4rem; color:#898989; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.information_left h3{font-size: 0.2rem; line-height: 0.4rem; color:#E23B41;}
.information_left h3 em{color:#333333; margin-left: 0.2rem;}
.information_left h4{color:#898989; font-size: 0.2rem; text-align: right; line-height: 0.4rem;}
.information_left h4 em{float: left; text-decoration: line-through;}
.product-information b{display: block; width: 1.4rem; line-height: 0.6rem; text-align: center; background: #E23B41; position: absolute; right: 0; top:0.3rem; font-size: 0.22rem; border-bottom-left-radius: 0.4rem; border-top-left-radius: 0.4rem;}
.product-sale-info{background: #FFFFFF; margin-top: 0.05rem;}
.product-sale-info .total{width: 100%; height: 0.11rem; background: #CDCDCD;}
.product-sale-info .total .sale{height: 0.11rem; background: #E23B41; border-bottom-right-radius: 0.1rem; border-top-right-radius: 0.1rem;}
.product-sale-info h1{font-size: 0.18rem; line-height: 0.4rem; color:#E23B41; padding: 0 0.15rem;}
.product-sale-info h1 em{color:#BCBCBC; float: right;}
.product-assess{background: #FFF; padding: 0.15rem 0.15rem; color:#454545; font-size: 0.2rem; line-height: 0.3rem; text-indent: 0.4rem; margin-top: 0.1rem;}
.footer-click{text-align: center; line-height: 0.6rem; font-size: 0.22rem; color:#676767; background: #FFF; margin-top: 0.1rem;}
footer{width: 6.4rem; height: 0.8rem;position: fixed; bottom:0; background: #FFF;}
footer .collect{width: 26%; height: 0.8rem; float: left; z-index: 9;}
footer .collect em{display: block; line-height: 0.32rem; font-size:0.2rem; color:#ABABAB;}
footer .collect i{display: block; width: 0.42rem; height: 0.42rem; margin: 0.06rem auto 0; background: url(../images/collect_no.png) no-repeat; background-size: 0.4rem; background-position: 50%;}
footer .add-cart{width: 37%; height: 0.8rem; float: left; background: rgb(235, 165, 114); line-height: 0.8rem; font-size: 0.24rem;}
footer .buy-now{width: 37%; height: 0.8rem; float: left; background: #E23B41; line-height: 0.8rem; font-size: 0.24rem;}
footer .collect i.collected{background-image: url(../images/collect.png);}
.product-image-text{width: 6rem; padding: 0 0.2rem; background: #F4F4F4; position: fixed; bottom:0.79rem; transition:0.3s; height: 0; z-index: 3; overflow-y: scroll;}
.product-image-text .images{padding: 0.1rem 0; min-width: 6rem;}
.product-image-text .images img{width: 100%; display: block;}
.service-assess{min-width:5.8rem; padding: 0.1rem 0.1rem; text-indent: 0.4rem; line-height: 0.3rem; margin-top: 0.2rem; background: #FFF; display: none; font-size: 0.2rem; color:#898989;}

/*下载页*/
.download-top{width: 6.4rem; height: 5rem; background: url(../images/download1.png) no-repeat; background-size: 4.5rem; background-position: 50% 80%;}
.download-text{line-height: 0.4rem; font-size: 0.3rem; text-align: center; color:#010101; margin-top: 0.6rem;}
.download-ios{width: 100%; height: 1.2rem; background: url(../images/download2.png) no-repeat; background-position: 50% 0; background-size: 3rem; margin-top: 1.2rem;}
.download-android{width: 100%; height: 1rem; background: url(../images/download3.png) no-repeat; background-position: 50% 0; background-size: 3rem;}
.download-ios>span,.download-android>span{width: 2.84rem; height: 0.62rem; margin: 0 auto;}


